@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are students at OU working alongside Centric Consuting to create an internal recognition system that will allow Centric employees to commend eachother based on their core company principles. The end product should be a fun and rewarding way to interact with their peers, that will incentivize return visits..</p>
