
<h1>Our Emails</h1>
<ul>
    <li>
        <a href="mailto: am821617@ohio.edu">Andrew Magoteaux</a>
    </li>
    <li>
        <a href="mailto: zk128916@ohio.edu">Zach Kasian</a>
    </li>
    <li>
        <a href="mailto: kf422617@ohio.edu">Kacie Fisher</a>
    </li>
    <li>
        <a href="mailto: cp318817@ohio.edu">Chase Parr</a>
    </li>
    <li>
        <a href="mailto: ac077217@ohio.edu">Andrew Cirner</a>
    </li>
</ul>