    ViewBag.Title = "Our Emails";
}
<h2>@ViewBag.Title.</h2>

<ul>
    <li>am821617@ohio.edu</li>
    <li>zk128916@ohio.edu</li>
    <li>kf422617@ohio.edu</li>
    <li>cp318817@ohio.edu</li>
    <li>ac077217@ohio.edu</li>
</ul>