@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Team 10's 4200 Solution</h1>
    <p class="lead">We have the privilege of working with Centric building a platform that empowers employees to commend their peers..</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Centric Principles</h2>
        <p>
            This project is being undertaken with Centric's core principles at the forefront of every decison during development.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/">Learn more about Centric &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Incorporation of Gameification</h2>
        <p>Final platformed should be gameified so that it's use is rewarding and incentivize return visits.</p>
    </div>
    <div class="col-md-4">
        <h2>Teamwork and Fun factor</h2>
        <p>The project rewards teamwork and creativity, but most importantly teams should have fun!.</p>
    </div>
</div>

<div>
    <div class="alert alert-info">
        <strong> Responsible Stewardship</strong> .
    </div>
    <div class="alert alert-warning">
        <strong>Exeptional Culture</strong>
    </div>
    <div class="alert alert-info">
        <strong>Delievery Excellence</strong>
    </div>
    <div class="alert alert-warning">
        <strong>Innovation</strong>
    </div>
    <div class="alert alert-info">
        <strong>Commitment to the Greater Good</strong>
    </div>
    <div class="alert alert-warning">
        <strong>Openness and Integrity</strong>
    </div>
    <div class="alert alert-info">
        <strong>Work / Life Balance</strong>
    </div>
</div>